* {
  box-sizing: border-box;

  margin: 0;

  padding: 0;
}

body {
  background-color: #333;

  font-family: Helvetica;
}

p {
  font-size: 48px;

  padding: 50px;
}

#row-start, #column-start {
  color: #91FFFF;
}

#row-end, #column-end {
  color: #FF76B5;
}

#row-center, #column-center {
  color: #20DBA7;
}

#row-space-between, #column-space-between {
  color: #FFFFAC;
}

#row-space-around, #column-space-around {
  color: #FA4E7E;
}

#row-space-evenly, #column-space-evenly {
  color: #E49713;
}

.flex-container {
  display: flex;

  height: auto;

  margin: 0 0 30px;

  width: 100%;
}

/* 
  #flex-container-1,
  #flex-container-2,
  #flex-container-3,
  #flex-container-4,
  #flex-container-5,
  #flex-container-6,
  #flex-container-7,
  #flex-container-8,
  #flex-container-9,
  #flex-container-10,
  #flex-container-11,
  #flex-container-12    {
    padding: 20px;
  }
*/

#flex-container-7,
#flex-container-8,
#flex-container-9,
#flex-container-10,
#flex-container-11,
#flex-container-12 {
  flex-direction: column;

  height: 600px;
}

#flex-container-1,
#flex-container-7 {
  border: 5px solid #91FFFF;

  justify-content: start;
}

#flex-container-2,
#flex-container-8 {
  border: 5px solid #FF76B5;

  justify-content: end;
}

#flex-container-3,
#flex-container-9 {
  border: 5px solid #20DBA7;

  justify-content: center;
}

#flex-container-4,
#flex-container-10 {
  border: 5px solid #FFFFAC;

  justify-content: space-between;
}

#flex-container-5,
#flex-container-11 {
  border: 5px solid #FA4E7E;

  justify-content: space-around;
}

#flex-container-6,
#flex-container-12 {
  border: 5px solid #E49713;

  justify-content: space-evenly;
}

:is(#flex-container-1,
    #flex-container-2,
    #flex-container-3,
    #flex-container-4,
    #flex-container-5,
    #flex-container-6,
    #flex-container-7,
    #flex-container-8,
    #flex-container-9,
    #flex-container-10,
    #flex-container-11,
    #flex-container-12) div {
  color: #FFF;

  font-size: 64px;

  height: 100px;

  padding: 10px;

  text-align: center;

  width: 100px;
}

:is(#flex-container-1, #flex-container-7) div {
  border: 5px solid #91FFFF;
}

:is(#flex-container-2, #flex-container-8) div {
  border: 5px solid #FF76B5;
}

:is(#flex-container-3, #flex-container-9) div {
  border: 5px solid #20DBA7;
}

:is(#flex-container-4, #flex-container-10) div {
  border: 5px solid #FFFFAC;
}

:is(#flex-container-5, #flex-container-11) div {
  border: 5px solid #FA4E7E;
}

:is(#flex-container-6, #flex-container-12) div {
  border: 5px solid #E49713;
}
