* {
  box-sizing: border-box;

  margin: 0;

  padding: 0;
}
body {
  background-color: #333;

  font-family: Helvetica;
}

p {
  font-size: 48px;

  padding: 50px;
}

#stretch {
  color: #2082D8;
}

#start {
  color: #E2D7ED;
}

#end {
  color: #7B405A;
}

#center {
  color: #FFCD45;
}

#space-between {
  color: #85279F;
}

#space-around {
  color: #DB65BB;
}

#space-evenly {
  color: #B2A960;
}

.flex-container {
  display: flex;

  flex-wrap: wrap;

  height: 500px;

  margin: 0 auto 30px;

  width: 500px;
}

#flex-container-1 {
  align-content: stretch;

  border: 5px solid #2082D8;
}

#flex-container-2 {
  align-content: flex-start;

  border: 5px solid #E2D7ED;
}

#flex-container-3 {
  align-content: end;

  border: 5px solid #7B405A;
}

#flex-container-4 {
  align-content: center;

  border: 5px solid #FFCD45;
}

#flex-container-5 {
  align-content: space-between;

  border: 5px solid #85279F;
}

#flex-container-6 {
  align-content: space-around;

  border: 5px solid #DB65BB;
}

#flex-container-7 {
  align-content: space-evenly;

  border: 5px solid #B2A960;
}

:is(#flex-container-1,
    #flex-container-2,
    #flex-container-3,
    #flex-container-4,
    #flex-container-5,
    #flex-container-6,
    #flex-container-7) div {
  color: #FFF;

  font-size: 64px;

  padding: 10px;
}

#flex-container-1 div {
  border: 5px solid #2082D8;
}

#flex-container-2 div {
  border: 5px solid #E2D7ED;
}

#flex-container-3 div {
  border: 5px solid #7B405A;
}

#flex-container-4 div {
  border: 5px solid #FFCD45;
}

#flex-container-5 div {
  border: 5px solid #85279F;
}

#flex-container-6 div {
  border: 5px solid #DB65BB;
}

#flex-container-7 div {
  border: 5px solid #B2A960;
}
